
                <div class="p-2  w-full">
          
                        <div class="h-full flex items-center border-gray-800 border p-4 rounded-lg">
                            <img alt=<%= comment.author.name %>
                                class="w-12 h-12 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4"
                                src=<%=comment.author.photo%>>
                            <div class="flex-grow">
                                <h2 class="text-white title-font font-medium"><%= comment.author.name %></h2>
                                <p class="text-gray-600 text-left"> <%= comment.text %></p>
                                
                            </div>
                        </div>
               
                </div>
