
<section class="text-gray-400 bg-gray-900 body-font relative h-screen">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center lg:w-1/2 md:w-2/3 mx-auto mb-12">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-white">Create New Post</h1>
    </div>
    <%= form_with model: @post, url: user_posts_path, scope: :post  do |form| %>  
    <div class="lg:w-1/2 md:w-2/3 mx-auto">
      <div class="flex flex-wrap -m-2">
        <div class="p-2 w-full">
          <div class="relative">
            <label for="name" class="leading-7 text-sm text-gray-400">Title</label>
            <%= form.text_field :title, placeholder: "Type post title", required: true, class: "w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-purple-500 focus:bg-gray-900 focus:ring-2 focus:ring-purple-900 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" %>
          </div>
        </div>
        <div class="p-2 w-full">
          <div class="relative">
            <label for="message" class="leading-7 text-sm text-gray-400">Description</label>
            <%= form.text_area :text, placeholder: "Type post description.", rows: 20, required: true,  class: "w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-purple-500 focus:bg-gray-900 focus:ring-2 focus:ring-purple-900 h-64 text-base outline-none text-gray-100 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out" %>
            
          </div>
        </div>
        <div class="p-2 w-full">
           <%= form.submit "Submit", class: "flex mx-auto text-white bg-purple-500 border-0 py-2 px-8 focus:outline-none hover:bg-purple-600 rounded text-lg" %>
        </div>
        
      </div>
    </div>
   <% end %> 
  </div>
</section>